<div class="row">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Cines Component</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">    
            <button type="button" class="btn btn-sm btn-outline-primary" [routerLink]="['listar']">Listar</button>
            <button type="button" class="btn btn-sm btn-outline-primary" [routerLink]="['agregar']">Agregar</button>
        </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

