<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"> 
    <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand"></div>
        <div class="chartjs-size-monitor-shrink"></div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Salas component</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mb-3" role="group" aria-label="Basic example">
            <a [routerLink]="['listar']" type="button" class="btn btn-primary">Listar</a>
            <a [routerLink]="['agregar']" type="button" class="btn btn-primary">Agregar</a>
            <a [routerLink]="['editar']" type="button" class="btn btn-primary">Editar</a>
            <a [routerLink]="['eliminar']" type="button" class="btn btn-primary">Eliminar</a>
          </div>
      </div>
    </div>
    <router-outlet></router-outlet>
</main>



