<div>
    <div class="col-lg-4 offset-lg-4">

        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header text-center">Agregar Pelicula</div>
            <div class="card-body">
                <form>
                    <input type="text"class="form-control" placeholder="nombre Pelicula">
                    <input type="text"class="form-control mt-2" placeholder="duracion">
                    <input type="text"class="form-control mt-2" placeholder="id genero">
                    <div class="row">
                        <div class="col-lg-6">
                            <button routerLink ="" type="button" class="btn btn-primary mt-2">Aceptar</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-success mt-2">Volver</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
    </div>
</div>

