<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    @if (isLoading) {
        <app-spinner [mensaje]="mensaje"></app-spinner>
    }@else {
      <div class="card card-border-primary">
        <div class="header">
            <h3 class="card-title text-center text-success"></h3>
            Formulario para {{titulo}}
        </div>
      </div>

      <div class="row col mx-auto">
        <button class="btn btn-info w-50" [routerLink]="['/comida']">Regresar al listado</button>
      </div>

      <div class="card-body">
        <div class="card-text">
          <form [formGroup]="formComida" (ngSubmit)="onSubmit()">
            <div class="form-group">  
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <mat-label>Nombre de la comida</mat-label>
                    <input type="text" matInput formControlName="nombreComida">
                  </mat-form-field>
                  @if (formComida.get('nombreComida')?.hasError('required')&&formComida.get('nombreComida')?.touched) {
                    <mat-error> El campo no correcto o esta vacío</mat-error>
                  }
                </div>
                <div class="col">
                  <mat-form-field>
                    <mat-label> # tipo comida</mat-label>
                    <input type="text" matInput formControlName="idTipoComida">
                  </mat-form-field>
                  @if (formComida.get('idTipoComida')?.hasError('required')&&formComida.get('idTipoComida')?.touched) {
                    <mat-error> El campo no correcto o esta vacío</mat-error>
                  }
                </div>
              </div>
            
            </div>
            <div class="d-grid gap-2">
              <button type="submit" mat-raised-button color="basic" class="bg-info">
                Guardar datos
              </button>
            </div>
          </form>
        </div>
      </div>
    }
</div>

